h1{
    stop-color: rgb(0, 0, 0)
}
h2{
    stop-color: rgb(153, 4, 153);
    text-align: center;
}
h3{
    stop-color: rgb(235, 174, 20);
    text-align: center;
    font-size: 25px;
}
h4{
    color: rgb(49, 152, 255);
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
h5{
color: rgb(231, 14, 14);
text-align: center;
font-size: 25px;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
font-weight: bold;
}
h6{
    color: chartreuse;
    text-align: center;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.parrafo01{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: rgb(0, 156, 65);
}
.parrafo02{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 12px;
}


h1{
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
h2{color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.contendor{
    text-align: center;
}
.juegonew{
    text-align: center;
}

div{
    text-align: center;   
}

body{
    background-color: rgb(21, 161, 216)
}
h1{


}